<ul class="nav nav-tabs d-flex justify-content-center">
	<li class="nav-item rounded-top" *ngFor="let tab of tabs; let i = index">
		<a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{tab: i}"
			[ngClass]="{'active' : i === +tabActive}">{{tab}}</a>
	</li>
</ul>

<table class="table text-center mt-4 col-md-6 mx-auto">
	<thead>
		<tr>
			<th scope="col" class="border-0">Name</th>
			<th scope="col" class="border-0">Amount</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders | keyvalue">
			<td>{{order.key}}</td>
			<td>{{order.value}}</td>
		</tr>
	</tbody>
	<a href="" class="btn btn-primary">Back to main</a>
</table>